torch==2.5.1
torch-geometric==2.6.1
torch-scatter==2.1.2
torch-sparse==2.1.2
torch-cluster==1.6.3
torch-spline-conv==1.2.2
networkx==3.3
scikit-learn==1.5.1
scipy==1.13.1
numpy==1.26.4
pyyaml==6.0.1
optuna==4.0.0
tqdm==4.66.5